main{
    background-color: #1c1c1c;

}
.jumbo{
    background-image: url('../images/jumbotron.jpg');
    height: 400px;
}
section{
    padding-top: 50px;
}

.comics-container{
    width: 70%;
    margin: auto;
}
.comics{
    display: flex;
    flex-wrap: wrap;

}
.single-comic{
    width: calc(100% / 6);
    color: $colore_secondario;
    text-transform: uppercase;
    padding-bottom: 50px;
}
