main{
    &.black{
        background-color: #1c1c1c;
    }
    &.lightgrey{
        background-color: #f6f6f6;
    }
    &.white{
        background-color: white;

    }

}
.jumbo{
    background-image: url('../images/jumbotron.jpg');
    height: 400px;
}
section{
    padding-top: 50px;
}

.comics-container{
    width: 70%;
    margin: auto;
}
.comics{
    display: flex;
    flex-wrap: wrap;

}
.single-comic{
    width: calc(100% / 6);
    color: $colore_secondario;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.single-comic-container{
    width: 70%;
    margin: auto;
    h2{
        color: #003f5e;
        text-transform: uppercase;
        font-size: 30px;
    }
}
.galleria{
    background-color: $colore_primario;
    height: 100px;
    position: relative;
    img{
        border: solid 2px white;
        position: absolute;
        top: -235%;
        left: 15%;

    }
    #tipologia{
        background-color: #00a9d9;
        color: white;
        position: absolute;
        top: -235%;
        left: 15%;
        text-transform: uppercase;
        padding: 5px;
        font-size: 12px;
    }
    #back_to_gallery{
        background-color: #00a9d9;
        color: white;
        position: absolute;
        top: 34%;
        left: 15%;
        text-transform: uppercase;
        padding: 5px;
        width: 195px;
        font-size: 12px;
        text-align: center;
    }

}
.tabella{
    background-color: #20c527;
    display: flex;
    justify-content: space-between;
    .prezzo{
        color: #96e782;
        font-size: 20px;
        padding: 18px;
        span{
            color: white;
            text-align: right;
        }


    }
    .stato{
        color: #96e782;
        border-right: solid 1px black;
        padding: 18px;
        font-size: 20px;
    }
    .check{
        color: white;
        font-size: 20px;
        padding: 18px;
        text-align: center;
    }

}
p{
    font-size: 25px;
    margin: 10px;
}
